.button {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 13px 30px;
  background: #EB177E;
  border: none;
  transition: 0.5s;
  //&:hover {
  //  background: #FFF;
  //  color: #EB177E;;
  //}
  &:active {
    color: #FFF;
    background: rgba(235, 23, 126, 0.51);
  }
}