.exhibition {
  margin-top: 100px;
  &__cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 57px;
  }
  h1 {
    color: #282828;
    text-align: center;
    font-family: 'Futura PT', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 106.7%; /* 32.01px */
  }
  iframe {
    margin-top:35px;
  }
  &__carousel {
    display: flex;
    flex-direction: column;
    margin-top:63px;
  }
  &__btns {
    margin: 17px auto 0;
  }
  &__slider {
    overflow: hidden;
  }
  &__line {
    display: flex;
    transition: 0.5s;
    img {
      width: 312px;
      max-height: 200px;
    }
  }
  &__card {
    border: 1px solid  #EB177E;
    border-radius: 10px;
    max-width: 310px;
    padding: 22px;
    p {
      color: #282828;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 104.9%;
      text-align: center;
    }
    span {
      font-weight: 700;
    }
  }
}
@media screen and (min-width: 600px) {
  .exhibition {
    margin-top: 125px;
    h1 {
      text-transform: none;
      color: #101010;
      text-align: center;
      font-size: 50px;
      margin: auto;
      font-style: normal;
      max-width: 727px;
      font-weight: 600;
      line-height: 106.7%; /* 53.35px */
    }
    iframe {
      width: 585px;
      height: 342px;
    }
    &__cards {
      flex-direction: row-reverse;
    }
    &__card {
      max-width: 542px;
      p {
        color: #101010;
        text-align: center;
        font-size: 19.292px;
        font-style: normal;
        font-weight: 400;
        line-height: 133.4%; /* 25.736px */
      }
    }
  }
}