.footer  {
  margin-top: 100px;
  text-align: center;
  background: #EAEAEA;
  padding-bottom: 50px;
  padding-top: 42px;
  &__logo-computer {
    display:none;
  }
  &__info {
    margin-top: 43px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      max-width: 230px;
      color: #282828;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
@media screen and (min-width: 600px) {
.footer {
  margin-top: 150px;
  &__logo-mobile {
    display: none;
  }
  &__logo-computer {
    display: block;
    margin: auto;
  }
  &__info {
    span {
      font-size: 18px;
      max-width: 394px;
    }
  }
}
}