.footer  {
  margin-top: 100px;
  text-align: center;
  background: #EAEAEA;
  padding-top: 42px;
  &__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    span {
      color: #282828;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}