.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;

  &__none {
    display: none;
  }

  &__logo-computer {
    display: none;
  }

  &__nav {
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    background: #282828;;
    gap: 20px;
    width: 100%;

    svg {
      width: 30px;
      height: 30px;
    }

    &--none {
      display: none;
    }

    a {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
  }
  &__nav-computer {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .header {
    &__burger {
      display: none;
    }

    &__nav-computer {
      display: flex;
      align-items: center;
      nav {
        display: flex;
        gap: 15px;
        align-items: center;
      }
      .button {
        margin-top: 0;
        margin-left: 25px;
      }
      a {
        transition: 0.5s;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        &:hover {
          color: #EB177E;
          text-decoration-line: underline;
        }
        &:active {
          color: #EB177E;
          text-decoration: none;
        }
      }
    }

    &__logo-computer {
      display: block;
    }

    &__logo-mobile {
      display: none;
    }
  }
}