.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  &__none {
    display: none;
  }
  &__nav {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #282828;;
    gap: 20px;
    width: 100vh;
    svg {
      width: 30px;
      height: 30px;
    }
    &--none {
      display: none;
    }
    a {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
  }
}