.partner {
  margin-top: 100px;
  background: url("imgs/bg-partner.png");
  padding-top: 71px;
  h1 {
    max-width: 201px;
    margin: auto;
  }
  &__info {
    padding-bottom: 55px;
    h4 {
      color: #FFF;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 106.7%; /* 25.608px */
      margin-top: 57px;
      margin-bottom: 33px;
    }
    p {
      padding-bottom: 15px;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18.304px; /*  */
      span {
        font-weight: 700;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .partner {
    margin-top: 150px;
  }
}