.profit {
  margin-top: 100px;
  padding-top: 98px;
  h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Futura PT', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 106.7%; /* 32.01px */
    text-transform: uppercase;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
    gap: 20px;
    justify-content: center;
    padding-bottom: 120px;
  }
  &__card {
    max-width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      border: 1.115px solid #EB177E;
      border-radius: 10px;
      padding: 36px 11px 28px;
    }
    span {
      color: #FFF;
      font-size: 60px;
      z-index: 1;
      margin-bottom: -32px;
      font-style: normal;
      font-weight: 700;
      line-height: 106.7%; /* 64.02px */
      text-transform: uppercase;
      text-align: center;
    }
    h4 {
      max-width: 173px;
      margin: 0 auto;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 114.4%; /* 18.304px */
    }
    p {
      color: #FFF;
      text-align: center;
      padding-top: 23px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 114.4%; /* 18.304px */
    }
  }
}
@media screen and (min-width: 600px) {
  .profit {
    margin-top: 150px;
    padding-top: 211px;
    &__cards {
      padding-bottom: 218px;
    }
    &__card {
      max-width: 556px;
      &:last-child {
        > div {
          height: 256px;
        }
      }
      div {
        height: 295px;
      }
      &:last-child {
        max-width: 1148px;
      }
      h4 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        max-width: 414px;
      }
      span {
        font-size: 96.491px;
        margin-bottom: -48px;
        font-style: normal;
        font-weight: 700;
      }
      p {
        padding-top: 0;
        margin-top: 34px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
      }
    }
    h1 {
      color: #FFF;
      font-size: 50px;
      font-style: normal;
      max-width: 1015px;
      margin: auto;
      font-weight: 600;
      line-height: 106.7%; /* 53.35px */
      text-transform: uppercase;
    }
  }
}