.proposals {
  margin-top: 100px;
  h1 {
    color: #282828;
  }
  &__card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid  #EB177E;
    background: #282828;
    padding: 51px 0 53px;
    button {
      max-width: 239px;
      font-size: 19px;
      margin: -20px auto auto;
    }
    img {
      margin-top: 29px;
    }
    h2 {
      color: #FFF;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      max-width: 218px;
      font-size: 24px;
      margin: auto;
      line-height: 112.2%; /* 31.416px */
      span {
        font-weight: 400;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .proposals {
    margin-top: 150px;
    &__card {
      padding: 157px 358px 157px 99px;
      margin-top:85px;
      background: url("imgs/bg-proposals.png");
      border: none;
      max-width: 1184px;
      width: 100%;
      button {
        font-size: 24px;
        font-weight: 600;
        max-width:472px ;
        margin: 38px 0 0;
      }
      h2 {
        margin: 0;
        max-width: 560px;
        text-align: left;
        font-size: 50px;
        font-weight: 500;
        line-height: 112.2%; /* 56.1px */
        span {
          font-weight: 400;
        }
      }
    }
    img {
      display: none;
    }
    h1 {
      margin: auto;
      max-width: 745px;
      font-size: 50px;
      font-style: normal;
      font-weight: 600;
      line-height: 106.7%; /* 53.35px */
      text-transform: uppercase;
      color: #000;
    }
  }
}